@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Kanit:wght@100;400;600&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE STYLE */

@layer base {
  body {
    @apply font-Roboto;
    @apply text-mistGray-950;
    @apply bg-mistGray-50;
  }
}

.courses {
  &::after {
    content: attr(data-course);
    @apply text-mistGray-50;
    @apply bg-royalBlue-600;
    position: absolute;
    right: 0%;
    top: 1%;
    font-size: 60%;
    padding: 0.6em;
    border-radius: 50%;
    line-height: 1em;
    text-align: center;
    min-width: 2em;
    font-weight: 700;
  }
}
