@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Kanit:wght@100;400;600&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* MAIN CUSTOM CSS */

@layer base {
  body {
    @apply font-Roboto;
    @apply text-mistGray-950;
    @apply bg-mistGray-50;
  }
}
