@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;600;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* MAIN CUSTOM CSS */

@layer base {
  body {
    @apply font-Roboto;
  }
  li {
    @apply px-5;
    @apply font-Kanit;
  }
}

@layer utilities {
  .navlink {
    @apply relative;
  }
  .navlink::after {
    @apply content-[''] bg-royalBlue-500 h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300;
  }
  .navlink:hover::after {
    @apply w-[100%];
  }
}
